* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code';

}

body {

    height: 100vh;
    background: url(./public/green\ leaves\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {

    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 50%;*/
    background: rgba(255, 255, 255, 0.068);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 60%;
    height: 60%;

}

.actualData-container {

    margin: 3%;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;

}


.actual-data {

    color: #e8f1f2;
    margin: 5% 0 5% 0;

}

.actualData-container h1{

font-size: 60px;

}

.date-time-container{

display: flex;

}


img {

    width: 100%;
    height: 100%;

}

.img-container {

    /*background-color: rgba(255, 228, 196, 0.438);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    color: #e8f1f2;
}

.forecast-container {

    grid-column-start: 1;
    grid-column-end: span 2;

}

.nextDays-container {

    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.item {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e8f1f2;
    margin: 0 7% 0 7%;

}


@media(max-width: 520px){

.item{

font-size: 0.5em

}

.main-container{

display: flex;
flex-direction: column;

}

.main-container div{

margin: 2%;

}

.main-container div:nth-child(2){

margin-bottom: 2%;

}

.actualData-container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.date-time-container{

    display: flex;
    flex-direction: column;

}

}

